*{
	padding: 0;
	margin: 0;
}
#header{
	background:rgba(230, 191, 72, 0.4);
	height: 150px;
	width: 100%;
	line-height: 150px;
	position: absolute;
	z-index: 5;
}
::-webkit-scrollbar{
	display: none
}
.section-one{
	 /* background-image:url(../images/construct-one.jpeg);*/
	  height: 100vh;
	  width: 100vw;
	  background-position: center;
	  background-size: cover;
	  background-origin: content-box;
	  background-repeat: no-repeat;
	  display: flex;flex-direction: center;
	  justify-content: center;
	  align-items: center;
}

.order-new-building{
	 height: 150px;
	 width: 97%;
	 background: purple;
}
::selection{
	display: none;
}
nav{

	height: 70px;
	width: 80%;
	background:#fff;
	border-radius: 8px;
	box-shadow: 3px 3px 10px black;
	position: absolute;
    left: 50%;
    top: 180%;
    transform: translate(-50%,-180%);

}

ul.menu{
	list-style-type: none;
	line-height: 70px;

}
ul.menu li{
	float: left;
	padding-left: 20px;
	padding-right: 20px;
   box-sizing: border-box;
}

div.logo{
	float: left;
	position: relative;
	padding-left: 50px;
	padding-right:50px;
	box-shadow: border-box;
	font-weight:bold;
	font-size: 25px;
	color: grey;
	text-shadow: 2px 2px 5px black;

}

div#header-menu{
	position: relative;
	float:right;
	font-size:25px;
}
ul.header-menu{
   list-style-type: none;
}

ul.header-menu li{
	float: left;
	padding-left: 50px;
	box-sizing: padding-box;
	padding-right: 50px;
}


ul.header-menu li:hover , ul.menu li:hover{
	cursor: pointer;
	background: rgb(0,0,0,.4);
	color: white;
}
.order-now{
	position: relative;
	float: right;
	height: 100%;
	width: 200px;
	background: linear-gradient(to left,rgba(221, 189, 89, 0.47),transparent);
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	border-right: 4px solid black;
}
.order-now::before{
	content: "";
	z-index: -1;
	height: 100%;
	width: 200px;
	background: linear-gradient(to right,rgba(221, 189, 89, 0.47),transparent);
	border-left:4px solid black;
	display: block;
	position: absolute;
	transform-origin: bottom right;
	transform:skew(30deg);
}
.button-container{
	    height: 50px;
	    width: 100%;
	    z-index: 2;
}

#button-left,#button-right{
	height: 50px;
	width: 50px;
	background: rgba(0,0,0,.5);
	position: relative;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	color: white;
	border-radius: 100%;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer;
}

#button-right{
	float: right;
}

#button-left:hover,#button-right:hover{
	color: brown;
	text-shadow: 2px 2px 5px black;
	background:white;
	border: 1px solid black;

}
#button-left:active,#button-right:active{
	background:rgba(0,0,0,.5);
}

ul.menu li{
	border-right:1px dotted black;
}

.middle-center{
	animation-delay: 1s;
	animation-duration: 2s;
	animation-play-state: ease-out;
    font-family: 'Cherry Swash', cursive;
    position: absolute;

    height: 100%;
    width:100%;
    left: 0;
    top: 0;
  /*  background: rgba(0,0,0,.4);*/
    display: flex;
    flex-direction: column;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

.middle-center p.name{
	  font-size: 100px;
	  color: #292D1E;
	  text-shadow: 2px 2px 4px #fff;
}
.middle-center p{
	color: #Fff;
	text-shadow: 1px 1px 5px white;
}
.section-two{
	height: 30vw;
	width: 100%;
	background: grey;
	display: flex;
}
.section-two-about-building,.section-two-pic{
	width: 50%;
	height: 100%;

}
.section-two-about-building{
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 position: relative;

}
.section-two-pic{
	  background:white;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
}
.section-two-pic img{
	width: auto;
	height: 300px;
}
p.plain{
	text-align: justify;
	background: gray;
	box-shadow: 2px 2px 10px black;
	position: absolute;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	z-index: 30;
}
.section-three{
	height: 30vw;
	background:#70693A;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;

}
.section-four{
   height: 30vw;
	background:#A14C2D;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
}
.three-inner{
	 height: 24vw;
	 width: 97%;
	 background-image: url(../images/optimized/site.jpg);
	 background-position: center;
	 position: relative;
	 background-size: cover;
	 box-shadow:2px 2px 3px black;
	 border-radius: 8px;
	 background-attachment: fixed;
}
.three-content{
	 height: 100%;
	 width: 50%;
	 position: absolute;
	 right: 0;
	 background:linear-gradient(to left,rgba(0,0,0,0.6),transparent);
	 z-index: 1;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
}
.three-content::before{
	position: absolute;
	content: "";
	background:linear-gradient(to right,rgba(0,0,0,0.6),transparent);
	z-index: 0;
	width: 100%;
	height: 100%;
	transform:skew(-30deg);
	transform-origin: right top;
}
.three-letter{
	 text-align: center;
	 color: white;
	 text-shadow: 2px 2px 1px black;
}
.slider-container{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -3;
	overflow: hidden;
	
}
.img-one,.img-two,.img-three{
	float: left;
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-size: cover;
}

.img-one{
	background-image: url(../images/optimized/img-one.jpeg);
	
}
.img-two{
	background-image: url(../images/optimized/img-two.jpeg);
	
}
.img-three{
	background-image: url(../images/optimized/img-three.jpeg);

}
.footer{
	  color: grey;
	  height: 200px;
	  width: 100%;
	  background:black;
	  display: flex;
}
.footer-one{
	width: 30%;
	height: 100%;
/*	background: white;*/
}
.footer-two{
	width: 30%;
	height: 100%;
	
}
.footer-three{
	width: 40%;
	height: 100%;
}
div.figure{
	width: 300vw;
	height: 100vh;
	position: relative;
	animation-name: slideNow;
	animation-duration: 10s;
	animation-delay: 10s;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}

@keyframes slideNow{
	0%{
		left:0vw;
	}
	10%{
         left: 0vw;
	}
	20%{
		left: -100vw;
	}
	30%{
		left: -100vw;
	}
	50%{
		left: -200vw;
	}
	60%{
		left: -200vw;
	}
	75%{
		left: -100vw;
	}
	100%{
		left: 0vw;
	}
}
.footer-one,.footer-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul.footer-contact{
	padding: 20px;
	list-style-type: none;
	font-size: 12px;
}
.footer-three{
	
	font-size: 12px;
}

.order-now:hover{
	background: linear-gradient(to left,rgba(0,0,0,.4),transparent);

}

.order-now:active{
	background: linear-gradient(to left,#262954,transparent);
	color: white;
	text-shadow: 2px 2px 5px black;

}
.advanced-slider img{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -3;
	overflow: hidden;
}

/*google maps*/
  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 30vw;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
  
      /*google maps css end*/



#preloader{
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background:#E5EFF1;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  z-index: 20;
	  position: fixed;
}

#preloader img{
	height: 100px;
	widows: 100px;
}

@media only screen and (max-width: 1180px){
	  .order-now{
	  	display: none;
	  }
	  ul.menu{
	  	display: none;
	  }
	  .section-two{
	  	display: none;
	  }
	  div.middle-center>p.name{
	  	    font-size: 30px;
	  }
	  div.middle-center>p.name+p{
	  	   font-size: 9px;
	  	   text-align: justify-all;
	  }
	  .three-letter{
	  	font-size: 7px;
	  }
	  nav{
	     background: grey;
	  }
}